# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [1]:
import pandas as pd
import numpy as np

In [2]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [4]:
print(black_friday.head())

User_ID Product_ID Gender   Age  Occupation City_Category  \
0  1000001  P00069042      F  0-17          10             A
1  1000001  P00248942      F  0-17          10             A
2  1000001  P00087842      F  0-17          10             A
3  1000001  P00085442      F  0-17          10             A
4  1000002  P00285442      M   55+          16             C

  Stay_In_Current_City_Years  Marital_Status  Product_Category_1  \
0                          2               0                   3
1                          2               0                   1
2                          2               0                  12
3                          2               0                  12
4                         4+               0                   8

   Product_Category_2  Product_Category_3  Purchase
0                 NaN                 NaN      8370
1                 6.0                14.0     15200
2                 NaN                 NaN      1422
3                14.0                 NaN      1057
4                 NaN                 NaN      7969
0     8370
1    15200
2     1422
3     1057
4     7969
Name: Purchase, dtype: int64

In [5]:
print(black_friday.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     537577 non-null  int64
 1   Product_ID                  537577 non-null  object
 2   Gender                      537577 non-null  object
 3   Age                         537577 non-null  object
 4   Occupation                  537577 non-null  int64
 5   City_Category               537577 non-null  object
 6   Stay_In_Current_City_Years  537577 non-null  object
 7   Marital_Status              537577 non-null  int64
 8   Product_Category_1          537577 non-null  int64
 9   Product_Category_2          370591 non-null  float64
 10  Product_Category_3          164278 non-null  float64
 11  Purchase                    537577 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 49.2+ MB
None

In [6]:
print(black_friday.shape)

(537577, 12)

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [10]:
def q1():
    return black_friday.shape

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [11]:
print(len(black_friday.query('Age == \"26-35\" & Gender == \"F\"')))

49348

In [5]:
def q2():
    return len(black_friday.query('Age == \"26-35\" & Gender == \"F\"'))

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [69]:
print(black_friday['User_ID'].nunique())

5891

In [6]:
def q3():
    return black_friday['User_ID'].nunique()

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [16]:
print(len(black_friday.dtypes.value_counts()))

3

In [7]:
def q4():
    return len(black_friday.dtypes.value_counts())

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [26]:
print(black_friday.shape[0])

537577

In [36]:
nulos =  black_friday.isnull().sum().max()

In [37]:
print(nulos)

373299

In [38]:
print(nulos / black_friday.shape[0])

0.6944102891306734

In [8]:
def q5():
    return (nulos / black_friday.shape[0])

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [9]:
def q6():
    return (black_friday.isnull().sum().max())

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [47]:
print(black_friday['Product_Category_3'].describe())

count    164278.000000
mean         12.669840
std           4.124341
min           3.000000
25%           9.000000
50%          14.000000
75%          16.000000
max          18.000000
Name: Product_Category_3, dtype: float64

In [48]:
print(int(black_friday['Product_Category_3'].mode()))

16

In [10]:
def q7():
    return (int(black_friday['Product_Category_3'].mode()))

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [50]:
normalizar=black_friday[['Purchase']]
print(normalizar)

Purchase
0           8370
1          15200
2           1422
3           1057
4           7969
...          ...
537572     11664
537573     19196
537574      8043
537575      7172
537576      6875

[537577 rows x 1 columns]

In [55]:
normalizado=(normalizar-normalizar.min())/(normalizar.max()-normalizar.min())
print(normalizado)

Purchase
0       0.344255
1       0.631519
2       0.052027
3       0.036676
4       0.327389
...          ...
537572  0.482798
537573  0.799588
537574  0.330501
537575  0.293868
537576  0.281376

[537577 rows x 1 columns]

In [57]:
print(float(normalizado.mean()))

0.38479390362696736

In [52]:
def q8():
    return (float(normalizado.mean()))

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [67]:
padronizado=(normalizar-normalizar.mean())/normalizar.std()
print(padronizado)

Purchase
0      -0.193506
1       1.177698
2      -1.588401
3      -1.661679
4      -0.274012
...          ...
537572  0.467804
537573  1.979943
537574 -0.259156
537575 -0.434019
537576 -0.493646

[537577 rows x 1 columns]

In [62]:
print(len(padronizado.query('Purchase >= -1 & Purchase <= 1')))

348631

In [12]:
def q9():
    return (len(padronizado.query('Purchase >= -1 & Purchase <= 1')))

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [65]:
print(black_friday.isna().query('Product_Category_2 == True & Product_Category_3 == False'))

Empty DataFrame
Columns: [User_ID, Product_ID, Gender, Age, Occupation, City_Category, Stay_In_Current_City_Years, Marital_Status, Product_Category_1, Product_Category_2, Product_Category_3, Purchase]
Index: []

In [66]:
print(len(black_friday.isna().query('Product_Category_2 == True & Product_Category_3 == False')) == False)

True

In [13]:
def q10():
    return (len(black_friday.isna().query('Product_Category_2 == True & Product_Category_3 == False')) == False)